frr version 10.0
frr defaults traditional
hostname {{ ansible_hostname }}
log syslog informational
no ipv6 forwarding
service integrated-vtysh-config
!
interface eth1
 description {{ description[0] }}
 ip address {{ ansible_eth1['ipv4']['address'] }}/{{ ansible_eth1['ipv4']['prefix'] }}
 ip ospf mtu-ignore
 !ip ospf cost 1000
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
interface eth2
 description {{ description[1] }}
 ip address {{ ansible_eth2['ipv4']['address'] }}/{{ ansible_eth1['ipv4']['prefix'] }}
 ip ospf mtu-ignore
 !ip ospf cost 45
 ip ospf hello-interval 10
 ip ospf dead-interval 30

interface eth3
 description {{ description[2] }}
 ip address {{ ansible_eth3['ipv4']['address'] }}/{{ ansible_eth1['ipv4']['prefix'] }}
 ip ospf mtu-ignore
 !ip ospf cost 45
 ip ospf hello-interval 10
 ip ospf dead-interval 30
!
router ospf
 {% if router_id_enable == false %}!{% endif %}router-id {{ router_id }}
 network {{ ansible_eth1['ipv4']['address'][:-1] }}0/{{ ansible_eth1['ipv4']['prefix'] }} area 0
 network {{ ansible_eth2['ipv4']['address'][:-1] }}0/{{ ansible_eth1['ipv4']['prefix'] }} area 0
 network {{ ansible_eth3['ipv4']['address'][:-1] }}0/{{ ansible_eth1['ipv4']['prefix'] }} area 0
 neighbor {{ ansible_eth1['ipv4']['address'][:-1] }}2
 neighbor {{ ansible_eth2['ipv4']['address'][:-1] }}2

log file /var/log/frr/frr.log
default-information originate always